
<body>
<div class="main_cap">
<div class="left_cap">
<%= video_tag("/assets/videos/image.mov", :autoplay =>true,:loop => true, muted: :true, style: "width:100%;") %>
</div>
<div class="side_bar">
</div>
</div>
</body>

<footer>
<div class="bottom_ber">
<div class="book_search">
<%= link_to "図書館を探す", 'http://api.calil.jp/library' %>
</div>
</div>
</footer>

